.header {
    box-shadow: 0 1px 0 rgb(12 13 20 / 15%);
    align-items: center;
    display:flex; 
    flex-direction: row; 
    background-color: #fafafa;
    /* position: fixed;
    width: 100vw; */
    
  }
  
  .m10{
    margin: 10px;
  }

  .right{
    position: absolute;
    right: 1em;
  }